@font-face {
  font-family: 'PressStart2P';
  src:
    local('PressStart2P'),
    url('./fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

/*
Для поддержки старых браузеров: Chrome 62-, Firefox 59- и Opera 52-,
приходится дополнительно указать фолбэк с устаревшим синтаксисом формата woff2-variations:
*/
@font-face {
  font-family: Inter-Variable;
  src:
    local('Inter-Variable'),
    url('./fonts/Inter-Variable.woff2') format('woff2 supports variation'),
    url('./fonts/Inter-Variable.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 400 785;
}
