@import 'variables';

:root.theme-light {
  // fonts
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';

  // weights
  --main-font-weight: 400;
  --main-font-bold-weight: 700;

  // main colors
  --background-clr: #fff;
  --accent-clr: rgb(0 0 0);
  --accent-clr-transparent: rgb(0 0 0 / 60%);
  --btn-text-clr: #fff;

  // heart SVG
  --sparks-fill-clr: #f00;
  --sparks-fill-clr-transparent: rgb(255 0 0 / 0%);
  --contour-clr: rgb(0 0 0);
  --core-clr: rgb(0 0 0);
  --core-clr-transparent: rgb(0 0 0 / 0%);
  --main-body-clr: rgb(0 0 0);
  --main-body-clr-transparent: rgb(0 0 0 / 0%);
  --contour-active-clr: #f00;
  --core-active-clr: #f00;
  --main-body-active-clr: #f00;

  // gradient colors
  --gradient-line-1: rgb(211 211 211);
  --gradient-line-2: rgb(211 211 211 / 0%);
  --gradient-smeared-1: #e7e7e7;
  --gradient-smeared-2: #1a1a1a;

  // gradients light
  --gradient-left-to-right: repeating-linear-gradient(
    to right,
    var(--gradient-line-2) 0,
    var(--gradient-line-1) 1px,
    var(--gradient-line-1) 2px,
    var(--gradient-line-2) 3px,
    var(--gradient-line-2) 4px
  );
  --gradient-top-to-bottom: repeating-linear-gradient(
    to bottom,
    var(--gradient-line-2) 0,
    var(--gradient-line-1) 1px,
    var(--gradient-line-1) 2px,
    var(--gradient-line-2) 3px,
    var(--gradient-line-2) 4px
  );
  --gradient-background: linear-gradient(
    to bottom,
    var(--gradient-smeared-1) 0.01%,
    var(--gradient-smeared-2)
  );

  // transforms
  --transform-time: 0.3s;
  --transition-function: ease;

  // border
  --border-width: 2px;
}

:root.theme-dark {
  --main-font-weight: 465;
  --main-font-bold-weight: 785;
  --background-clr: #000;
  --accent-clr: rgb(0 204 20);
  --accent-clr-transparent: rgb(0 204 20 / 60%);
  --btn-text-clr: rgb(0 204 20);
  --contour-clr: rgb(0 204 20);
  --core-clr: rgb(0 204 20);
  --core-clr-transparent: rgb(0 204 20 / 0%);
  --main-body-clr: rgb(0 204 20);
  --main-body-clr-transparent: rgb(0 204 20 / 0%);
  --contour-active-clr: #f00;
  --core-active-clr: #f00;
  --main-body-active-clr: #f00;
  --gradient-line-1: rgb(0 0 0);
  --gradient-line-2: rgb(0 0 0 / 0%);
  --gradient-smeared-1: #007f0c;
  --gradient-smeared-2: #004306;

  // gradients dark
  --gradient-left-to-right: repeating-linear-gradient(
    to right,
    var(--gradient-line-2) 0,
    var(--gradient-line-1) 1px,
    var(--gradient-line-1) 2px,
    var(--gradient-line-2) 3px,
    var(--gradient-line-2) 4px
  );
  --gradient-top-to-bottom: repeating-linear-gradient(
    to bottom,
    var(--gradient-line-2) 0,
    var(--gradient-line-1) 1px,
    var(--gradient-line-1) 2px,
    var(--gradient-line-2) 3px,
    var(--gradient-line-2) 4px
  );
  --gradient-background: linear-gradient(
    to bottom,
    var(--gradient-smeared-1),
    var(--gradient-smeared-2)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465;
    --main-font-bold-weight: 785;
    --background-clr: #000;
    --accent-clr: rgb(0 204 20);
    --accent-clr-transparent: rgb(0 204 20 / 60%);
    --contour-clr: rgb(0 204 20);
    --core-clr: rgb(0 204 20);
    --core-clr-transparent: rgb(0 204 20 / 0%);
    --main-body-clr: rgb(0 204 20);
    --main-body-clr-transparent: rgb(0 204 20 / 0%);
    --btn-text-clr: rgb(0 204 20);
    --contour-active-clr: #f00;
    --core-active-clr: #f00;
    --main-body-active-clr: #f00;
    --gradient-line-1: rgb(0 0 0);
    --gradient-line-2: rgb(0 0 0 / 0%);
    --gradient-smeared-1: #007f0c;
    --gradient-smeared-2: #004306;

    // gradients dark
    --gradient-left-to-right: repeating-linear-gradient(
      to right,
      var(--gradient-line-2) 0,
      var(--gradient-line-1) 1px,
      var(--gradient-line-1) 2px,
      var(--gradient-line-2) 3px,
      var(--gradient-line-2) 4px
    );
    --gradient-top-to-bottom: repeating-linear-gradient(
      to bottom,
      var(--gradient-line-2) 0,
      var(--gradient-line-1) 1px,
      var(--gradient-line-1) 2px,
      var(--gradient-line-2) 3px,
      var(--gradient-line-2) 4px
    );
    --gradient-background: linear-gradient(
      to bottom,
      var(--gradient-smeared-1),
      var(--gradient-smeared-2)
    );
  }
}
